<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICodeModel" />
                <binding name="BasicHttpBinding_IStructureSetModel" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50001/CodeModel.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICodeModel" contract="CodeModel.ICodeModel"
                name="BasicHttpBinding_ICodeModel" />
            <endpoint address="http://localhost:50002/StructureSetModel.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStructureSetModel"
                contract="StructureSetModel.IStructureSetModel" name="BasicHttpBinding_IStructureSetModel" />
        </client>
    </system.serviceModel>
</configuration>