<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하십시오.
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" allowLocation="true" allowDefinition="Everywhere" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="log" connectionString="Data Source=joshua-grace.iptime.org,1433;Initial Catalog=CdaGenerator;Persist Security Info=True;User Id=sa;Password=Jjw676409.;" providerName="System.Data.SqlClient" />-->
    <add name="log" connectionString="Data Source=localhost,1433;Initial Catalog=CdaGenerator;Persist Security Info=True;User Id=JOSHUA;Password=wodnjs;" providerName="System.Data.SqlClient" />

    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-xave.web.generator.svc-20171228033813.mdf;Initial Catalog=aspnet-xave.web.generator.svc-20171228033813;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <log4net>
    <appender name="exlog0" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\log\Audit\%property{LogFileName}.log" />
      <datePattern value="yyyy-MM-dd'_Audit.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="false" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %date{HH:mm:ss,fff}   %message%newline" />
      </layout>
    </appender>
    <appender name="exlog1" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\Logger\" />
      <datePattern value="yyyy-MM-dd'_Logger.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %date{HH:mm:ss,fff}   %message%newline" />
      </layout>
    </appender>
    <appender name="exlog2" type="log4net.Appender.RollingFileAppender">
      <!--<file value=".\log\ErrorLog\"/>-->
      <file type="log4net.Util.PatternString" value=".\log\ErrorLog\%property{LogFileName}.log" />
      <datePattern value="yyyy-MM-dd'_ErrorLog.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="false" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %date{HH:mm:ss,fff}   %message%newline" />
      </layout>
    </appender>
    <appender name="exlog3" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\Timespan\" />
      <datePattern value="yyyy-MM-dd'_Timespan.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="false" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %date{HH:mm:ss,fff}   %message%newline" />
      </layout>
    </appender>
    <root>
      <!-- Value : ALL, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="ERROR" />
      <appender-ref ref="ORMFileLog_Date" />
      <!--<appender-ref ref="VSConsole" />-->
    </root>
    <logger name="CUSTOM">
      <level value="ALL" />
      <appender-ref ref="ORMFileLog_Date" />
    </logger>
    <logger name="Audit">
      <level value="All" />
      <appender-ref ref="exlog0" />
    </logger>
    <logger name="Logger">
      <level value="All" />
      <appender-ref ref="exlog1" />
    </logger>
    <logger name="ErrorLog">
      <level value="All" />
      <appender-ref ref="exlog2" />
    </logger>
    <logger name="Timespan">
      <level value="All" />
      <appender-ref ref="exlog3" />
    </logger>
  </log4net>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>